
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin: 0 10px;
    
}
.nav-links  a:hover{
     color: #a7a6a4;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

button{
    padding: 5px;
    background-color: rgb(54, 143, 244);
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(9, 78, 253);
}