
h2{
    border: 2px dotted red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}   
.px{
    font-size: 20px;
}
.rem{
    font-size: 2rem;
}
main {
    font-size: 2rem;
}
.em{
    font-size: 2em;
}
.ch{
    width: 40ch;
}

.allign{
    border: 1px solid black;
    width: 50%;
    padding: 1.5em;
}
.justify{
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 2px 2px 5px gray;
}