
h1{
    border: 2px dotted red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

.px{
    font-size: 20px;
}
.rem{
    font-size: 2rem;
}
main {
    font-size: 2rem;
}
.em{
    font-size: 2em;
}
.ch{
    width: 40ch;
}