*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*change*/
    margin: 0 0; /*change*/
    background-image: url("/task/gradient.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.432);
    height: 600px; /*added*/
    width: 600px; /*added*/
    margin: auto;
    border-radius: 10px;
    padding: 100px; /*change*/
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.1);
    /* width: 100%;
    max-width: 500px;
    text-align: center; */
}

.inputs input{
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    font-weight: 200;
    opacity: 0.5;
} 

.inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-form{
    display: flex;
    gap: 26px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.fp{
    display: flex;
    text-align: left;
    justify-content: left;
    margin: 0;
}

.checkbox{
    display: flex;
    text-align: left;
    justify-content: left;
    margin: 50px 0 0 0;
}
.checkbox label{
    padding-left: 5px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

/* #username,#password{
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    margin: 10px 0;
    background-color: rgb(255, 255, 255);
    font-weight: 200;
    opacity: 0.5;
} */

button{
    margin-top: 20px;
    padding: 10px;
    width: 100%; 
    border-radius: 10px;
    background-color: #ac1dee; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #6a1492;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Lucida Sans';
    color: #ac1dee;
    
}